.modelY_banner_wrapper {
  .modelY_top {
    @include displayCenter(center, center);
    flex-direction: column;
    padding-top: 100px;
    .modelY_text {
      font-size: 40px;
      font-weight: 800px;
    }
    a {
      color: black;
    }
  }
  .modelY_banner_bottom {
    margin-top: 400px;
    @include displayCenter(center, center);
    color: #ffff;
    gap: 80px;
    .modelY_speed_wrapper {
      @include displayCenter(center, center);
      gap: 80px;
      .modelY_speed {
        font-size: 28px;
        line-height: 28px;
      }
      .modelY_range_text {
        font-size: small;
        margin-top: 5px;
      }
    }
    .modelY_btn {
      display: inline-block;
      padding: 5px 40px;
      border: 3px solid #ffff;
      &:hover {
        background-color: #ffff;
        color: black;
      }
    }
  }
}

@include mQ($sm) {
  .modelY_banner_wrapper {
    .modelY_top {
      .modelY_text {
        font-size: 30px;
        font-weight: 800px;
      }
    }
    .modelY_banner_bottom {
      margin-bottom: 200px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .modelY_speed_wrapper {
        gap: 20px;
        .model3_speed {
          font-size: 20px;
        }
        .modelY_range_text {
          font-size: small;
          margin-top: 5px;
        }
      }
      .modelY_btn {
        padding: 5px 10px;
        border: 3px solid #ffff;
        width: 90%;
        margin-top: 20px;
        text-align: center;
        &:hover {
          background-color: #ffff;
          color: black;
        }
      }
    }
  }
}
