.best_seller_wrapper {
  .best_seller_head_text {
    font-size: 28px;
    font-weight: 500;
    margin-top: 20px;
  }
  .best_seller_img_wrapper {
    margin-top: 50px;
    @include displayCenter(center, center);
    .best_seller_one {
      .best_seller_img {
        position: relative;
        width: 500px;
        height: 500px;
      }
    }
    .best_seller_text {
      font-size: 17px;
      font-weight: 500;
      margin-top: 20px;
    }
  }
}

@include mQ($sm) {
  .best_seller_wrapper {
    .best_seller_img_wrapper {
      flex-wrap: wrap;
      .best_seller_one {
        .best_seller_img {
          width: 450px;
          height: 450px;
        }
      }
    }
  }
}
