.modelS_seven_wrapper {
  .modelS_seven_img_wrapper {
    position: relative;
    height: 500px;
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/1981e29b-2ce8-4620-9c6a-fe1eaf005656/bvlatuR/std/3456x2160/Model-S-Exterior-Hero-Desktop-Global.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .modelS_seven_bottom_wrapper {
    background-color: black;
    color: #ffff;
  }
}
